.parralax {
    background-image: url("../../assets/images/crescent-moon.jpeg");

    min-height: 800px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}