<div class="col s10 m10 offset-s1 offset-m1">
  <div class="card-panel moon darken-1">
    <div class="card-content">
      <span class="card-title center">
        <h1>About Me</h1>
      </span>
      <hr>
      <div class="row">
        <div class="col s4">
          <h3 class="center">Bio</h3>
          <p>Here is some info about me as a person...</p>
          <p>You can work and carry-on and put lots of little happy things in here. Fluff it up a little and hypnotize it. You have to make almighty decisions when you're the creator. A beautiful little sunset. I'm sort of a softy, I couldn't shoot Bambi except with a camera.</p>
          <p>Don't kill all your dark areas - you need them to show the light. We might as well make some Almighty mountains today as well, what the heck. In nature, dead trees are just as normal as live trees. I'll go over the colors one more time that we use: Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red. Steve wants reflections, so let's give him reflections. You need the dark in order to show the light.</p>
        </div>
        <div class="col s4">
          <h3 class="center">Skills</h3>
          <p>And I know you're saying, 'Oh Bob, you've done it this time.' And you may be right. There's not a thing in the world wrong with washing your brush. You want your tree to have some character. Make it special. Everything is happy if you choose to make it that way. When you buy that first tube of paint it gives you an artist license. You have freedom here. The only guide is your heart.</p>
        </div>
        <div class="col s4">
          <h3 class="center">Hobbies</h3>
          <p>In this world, everything can be happy. Let's do that again. It just happens - whether or not you worried about it or tried to plan it. If you don't think every day is a good day - try missing a few. You'll see. Put light against light - you have nothing. Put dark against dark - you have nothing. It's the contrast of light and dark that each give the other one meaning. Let's put some happy little bushes on the other side now.</p>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </div>
  </div>
</div>